/* Master Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: auto;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fbeec1;
    padding: 8px;
}

.nav-menu li{
    list-style: none;
}

a{
    text-decoration: none;
}


/* body {
    margin: 15px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fbeec1;
   
    
} */


.hder{
    border-bottom: 1px solid #e2e8f0;
    background-color: #daad86;
    /* padding: 0; */
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.ham{
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
     
    
}

.nav-item {
    margin-left: 5rem;
}
.nav-link {
    font-size: 1.1rem;
    font-weight: 400;
    color: #102010;
}

.nav-link:hover {
    color: #8a8a8a;
}

.nav-logo {
    font-size: auto;
    font-weight: auto;
    color:  #000;;
}


button {
    position: absolute;
    right: 1em;
    top: 0.8em;
    padding: 8px;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: 1em;
    background: transparent;
    color: #000;
    display: none;
}

@media screen and (max-width: 960px) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        bottom: auto;
        flex-direction: column;
        background-color: #daad86;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0, 0, 0.05);
    }

    .nav-menu.active{
        left: 0;
    }
    .nav-item {
        margin: 1.3rem 2rem;
        
    }
    .ham {
        display: block;
        cursor: pointer;
    }

    .ham.active .bar:nth-child(2) {
        opacity: 0;
    }

    .ham.active .bar:nth-child(1) {
        transition: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .ham.active .bar:nth-child(3) {
        transition: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

   
}

@media screen and (max-device-width: 480px) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        bottom: auto;
        flex-direction: column;
        background-color: #daad86;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0, 0, 0.05);
    }

    .nav-menu.active{
        left: 0;
    }
    .nav-item {
        margin: 1.3rem 2rem;
        
    }
    .ham {
        display: block;
        cursor: pointer;
    }

    .ham.active .bar:nth-child(2) {
        opacity: 0;
    }

    .ham.active .bar:nth-child(1) {
        transition: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .ham.active .bar:nth-child(3) {
        transition: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

   
}
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: portrait) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        bottom: auto;
        flex-direction: column;
        background-color: #daad86;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0, 0, 0.05);
    }

    .nav-menu.active{
        left: 0;
    }
    .nav-item {
        margin: 1.3rem 2rem;
        
    }
    .ham {
        display: block;
        cursor: pointer;
    }

    .ham.active .bar:nth-child(2) {
        opacity: 0;
    }

    .ham.active .bar:nth-child(1) {
        transition: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .ham.active .bar:nth-child(3) {
        transition: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

   
}
@media screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation: landscape) {

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        bottom: auto;
        flex-direction: column;
        background-color: #daad86;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0,0, 0, 0.05);
    }

    .nav-menu.active{
        left: 0;
    }
    .nav-item {
        margin: 1.3rem 2rem;
        
    }
    .ham {
        display: block;
        cursor: pointer;
    }

    .ham.active .bar:nth-child(2) {
        opacity: 0;
    }

    .ham.active .bar:nth-child(1) {
        transition: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
    }

    .ham.active .bar:nth-child(3) {
        transition: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
    }

   
}

.header {
    font-weight: bold;
    margin: 5px;
}

.whereWhen {
    font-style: italic;;
}
.paragraph {
    margin: 9px;   
}
